# General
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
secrets.env

# Obj-C/Swift specific
*.dSYM

# Visual Studio Code
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Database Files
*.db